<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC 
 "-//mybatis.org//DTD Mapper 3.0//EN" 
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	
	<select id="admin_list" resultType="avo">
		select * from admin_db order by a_idx asc
	</select>
	
	<select id="admin_list" resultType="avo" parameterType="String">
		select * from admin_db where a_id = #{a_id}
	</select>
	
	<select id="admin_detail" parameterType="String" resultType="avo">
		select * from admin_db where a_idx = #{a_idx}
	</select>
	
	<select id="admin_count" resultType="int">
		select count(*) from admin_db
	</select>
	
	<insert id="admin_insert" parameterType="avo">
		insert into admin_db (a_idx, a_id, a_pw, a_na, a_pho, a_em, a_stat, a_log)
		values (#{a_idx}, #{a_id}, #{a_pw}, #{a_na}, #{a_pho}, #{a_em}, #{a_stat}, #{a_log})
	</insert>
	
	<update id="admin_update" parameterType="avo">
		update admin_db set a_pw = #{a_pw}, a_na = #{a_na}, a_pho = #{a_pho}, a_em = #{a_em}, a_stat = #{a_stat}, a_log = #{a_log}
		where a_idx = #{a_idx}
	</update>
	
	<delete id="admin_delete" parameterType="String">
		delete from admin_db where a_idx = #{a_idx}
	</delete>
</mapper>