@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

.header {
    width: 100%;
    height: 70px;
    background-color: blueviolet;
}

.section1 {
    width: 620px;
    margin: 100px auto 70px auto;
    text-align: center;
}

.section1 h1,
.section1 h3 {
    margin-bottom: 20px;
}

.search-bar {
    width: 70%;
    margin: 35px auto auto auto;
    display: flex;

}

.search-bar input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.searchalign {
    display : flex;
    margin : 0px auto 70px auto;
    max-width : 400px;
    width : 100%;
    justify-content: center;
    align-content: center ;
}

.searchalign ul {
    justify-content: center;
    align-content: center;

}
.searchalign ul a li {
    width : 28%;
    border-bottom: 1px solid #555;
    font-size: 18spx;
}


a {
    text-decoration: none;
    padding: 0 5px 0 5px;
}

a:link,
a:visited {
    color: #555;
}

.listhead{
    background-color: #f8f8f8
}

.listhead li:hover  {
   color : #000 !important;
   cursor : default !important;
}


li:hover {
    border-bottom: 1px solid #00A38B;
    color: #00A38B;
    cursor: pointer;
}

.tablecontainer {
    border-top: 2px solid #555;
    border-bottom: 1px solid #555;
    max-width: 1320px;
    width: 100%;
    border-collapse: collapse;
}


ul {
    
    max-width: 100%;
    display: flex;
    list-style-type: none;
    text-align: center;    
    vertical-align: center;
}

.tablecontainer ul li {
    padding : 7px ;
    border-bottom: 1px solid #F8F8F8;
    font-weight: 500;
}

.container p {
    margin-bottom: 12px;
}


.list1 {
width : 15%;
}
.list2 {
width : 15%;
}
.list3 {
width : 20%;
}
.list4 {
width : 20%;
}
.list5 {
width : 15%;
}
.list6 {
width : 15%;
}



.container {
    margin: 0px auto 50px auto;
    width: 90%;
    max-width: 1320px;

}


table {
    width: 90%;
    max-width: 1320px;
    text-align: center;
    vertical-align: center;
}