<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/sub2-3-3.css">
    <title>2-3-3</title>
</head>

<body>
    <div class="header"></div>

    <div class="section1">
        <h1>보호수 현황표</h1>
        <p>대한민국의 보호수 현황을 확인해보세요</p>
        <form action="">
            <div class="search-bar">
                <input type="text" name="" placeholder="상세주소로 검색하기">
                <button type="submit"></button>
            </div>
        </form>
    </div>

    <div class="searchalign">
        <ul>
            <a href="">
                <li class="sa1">주소순</li>
            </a>
            <a href="">
                <li class="sa2">지정일순</li>
            </a>
            <a href="">
                <li class="sa3">수령순</li>
            </a>
        </ul>
    </div>

    <div class="container">
        <p>전체 12890건</p>
        <div class="tablecontainer">
            <ul class="listhead">
                <li class="list1">No</li>
                <li class="list2">지정정보</li>
                <li class="list3">수종명( 학명 )</li>
                <li class="list4">위치</li>
                <li class="list5">지정일</li>
                <li class="list6">수령</li>
            </ul>
            <ul>
                <li class="list1">00001</li>
                <li class="list2">노목-보목</li>
                <li class="list3">주목 (Taxus cuspidata)</li>
                <li class="list4">흥천군 내면 창촌리 산3</li>
                <li class="list5">2016.10.04</li>
                <li class="list6">1140</li>
            </ul>
            <ul>
                <li class="list1">00002</li>
                <li class="list2">노목-보목</li>
                <li class="list3">주목 (Taxus cuspidata)</li>
                <li class="list4">흥천군 내면 창촌리 산3</li>
                <li class="list5">2016.10.04</li>
                <li class="list6">1140</li>
            </ul>
            <ul>
                <li class="list1">00003</li>
                <li class="list2">노목-보목</li>
                <li class="list3">주목 (Taxus cuspidata)</li>
                <li class="list4">흥천군 내면 창촌리 산3</li>
                <li class="list5">2016.10.04</li>
                <li class="list6">1140</li>
            </ul>
            <ul>
                <li class="list1">00004</li>
                <li class="list2">노목-보목</li>
                <li class="list3">주목 (Taxus cuspidata)</li>
                <li class="list4">흥천군 내면 창촌리 산3</li>
                <li class="list5">2016.10.04</li>
                <li class="list6">1140</li>
            </ul>
            <ul>
                <li class="list1">00005</li>
                <li class="list2">노목-보목</li>
                <li class="list3">주목 (Taxus cuspidata)</li>
                <li class="list4">흥천군 내면 창촌리 산3</li>
                <li class="list5">2016.10.04</li>
                <li class="list6">1140</li>
            </ul>
            <ul>
                <li class="list1">00006</li>
                <li class="list2">노목-보목</li>
                <li class="list3">주목 (Taxus cuspidata)</li>
                <li class="list4">흥천군 내면 창촌리 산3</li>
                <li class="list5">2016.10.04</li>
                <li class="list6">1140</li>
            </ul>
            <ul>
                <li class="list1">00007</li>
                <li class="list2">노목-보목</li>
                <li class="list3">주목 (Taxus cuspidata)</li>
                <li class="list4">흥천군 내면 창촌리 산3</li>
                <li class="list5">2016.10.04</li>
                <li class="list6">1140</li>
            </ul>
            <ul>
                <li class="list1">00008</li>
                <li class="list2">노목-보목</li>
                <li class="list3">주목 (Taxus cuspidata)</li>
                <li class="list4">흥천군 내면 창촌리 산3</li>
                <li class="list5">2016.10.04</li>
                <li class="list6">1140</li>
            </ul>
            <ul>
                <li class="list1">00009</li>
                <li class="list2">노목-보목</li>
                <li class="list3">주목 (Taxus cuspidata)</li>
                <li class="list4">흥천군 내면 창촌리 산3</li>
                <li class="list5">2016.10.04</li>
                <li class="list6">1140</li>
            </ul>
            <ul>
                <li class="list1">00010</li>
                <li class="list2">노목-보목</li>
                <li class="list3">주목 (Taxus cuspidata)</li>
                <li class="list4">흥천군 내면 창촌리 산3</li>
                <li class="list5">2016.10.04</li>
                <li class="list6">1140</li>
            </ul>


        </div>
        <div class="pagination">
            <a href="">$laquo</a>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">$raquo</a>
        </div>
    </div>


</body>

</html>